.navbar-color{
    background-color: #CD7213;
}
.nav-bar{
    position: fixed;
}
.nav-item{
    padding: 0 20px;
   
    
}
.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: black;
}
body
{
    background-color: #002C54;
} 

.landing-page
{
    height: 92vh;
    background-image: url(../landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content
{
    font-size: 5rem;
    background-position: center;
    text-align: center;
    position: relative;
    top: 40%;
    color: #002C54;
    z-index: 5;
}